{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": "true"
  },
  "plugins": [
    "babel",
    "react"
  ],
  "rules": {
    "object-curly-spacing": [0],
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": ["error", 120],
    "jsx-a11/no-static-element-interactions": [0]
  }
}
