.books__header {
  margin: 0 10px 15px 10px;
}

.books__list {
  display: flex;
  flex-wrap: wrap;
}

.book {
  margin: 10px;
  width: 200px;
}

.book--borrowed {
  text-decoration: line-through;
}

.book__cover {
  height: 220px;
  margin-bottom: 4px;
}

.book__cover > img {
  width: auto;
  height: 100%;
}

.book__title {
  font-weight: bold;
  padding: 2px 4px;
}

.book__author {
  font-size: 14px;
  padding: 0 4px;
}
